@use "../abstracts" as *;

.button {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  border: 2px solid transparent;
  border-radius: 25px;
  font-weight: $fw-400;
  font-size: fs(300);
  padding: 1em 2em;
  transition: 275ms ease;
  background-color: clr(neutral, 200);

  &[data-type="orange"] {
    color: clr(primary, 300);
  }

  &[data-type="cyan"] {
    color: clr(primary, 400);
  }

  &[data-type="dark-cyan"] {
    color: clr(primary, 500);
  }

  &:is(:hover, :focus) {
    background-color: transparent;
    color: clr(neutral, 100);
    border: 2px solid clr(neutral, 100);
  }
}
